/* 
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap'; */

/* .navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
} */

/* body {
  padding-top: 40px;
} */

.bd-notification.is-primary, {
  background-color: #00d1b2;
  color: #fff;
}

.box {
  background-color: #FBD1A2 !important;
  color: #000 !important;
}
